body,
html {
    height: 100%;

}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    overflow: hidden;
}

h1 {
    position: relative;
    font-size: 4vw;
    left: 60%;
    font-family: 'Lobster', helvetica, arial;
    top: 5%;
    color: palevioletred;
    text-shadow: 0 0.2vw 0 skyblue;
}
p {
    font-size: 2vw;
    margin-left: 58%;
    margin-top: 7%;
    margin-right: 2%;
    font-family: 'Roboto', serif;
    color: darkgrey;
   
}
.stock h1 {
    position: relative;
    font-size: 4vw;
    left: 7%;
    font-family: 'Lobster', helvetica, arial;
    top: 5%;
    color: yellowgreen;
    text-shadow: 0 0.2vw 0 skyblue;
}
.stock p {
    font-size: 2vw;
    margin-left: 5%;
    margin-top: 7%;
    margin-right: 58%;
    font-family: 'Roboto', serif;
    color: darkgrey;
   
}
a {
    color: orangered;
}

section {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    display: table;
    position: relative;

}


header {
    width: 100%;
    display: table;
    margin-top: -10px;
    margin-bottom: 20px;
    background-color: black;
}


#logo {
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    color: antiquewhite;
    font-weight: 600;
    padding: 25px 0px;
}

nav {
    width: auto;
    float: right;
}

nav ul {
    display: table;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li:last-child {
    padding-right: 0px;
}

nav ul li a {
    color: antiquewhite;
    font-size: 18px;
    padding: 25px 20px;
    display: inline-block;
    transition: all 0.5s ease 0s;
    margin-top: 0.5vw;
}

nav ul li a:hover {
    background-color: #002e5b;
    color: #fde428;
    transition: all 0.5s ease 0s;
}

nav ul li a:hover i {
    color: #fde428;
    transition: all 0.5s ease 0s;
}

nav ul li a i {
    padding-right: 10px;
    color: #002e5b;
    transition: all 0.5s ease 0s;
}

.toggle-menu ul {
    display: table;
    width: 25px;
}

.toggle-menu ul li {
    width: 100%;
    height: 3px;
    background-color: antiquewhite;
    margin-bottom: 4px;
}

.toggle-menu ul li:last-child {
    margin-bottom: 0px;
}

input[type=checkbox],
label {
    display: none;
}



/* Our normalize css */

* {
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

/* Our wrapper */

.wrapper {
    width: 51vw;
    height: 40vw;
    margin-top: 25vw;
    margin-left: 30vw;
    max-height: 100vw;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    overflow: hidden;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.19), 0 0.6vw 0.6vw rgba(0, 0, 0, 0.23);
}
.stock .wrapper {
    width: 51vw;
    height: 40vw;
    margin-top: 25vw;
    margin-left: 70vw;
    max-height: 100vw;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    overflow: hidden;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.19), 0 0.6vw 0.6vw rgba(0, 0, 0, 0.23);
}



/* Our image information */

.bottom,
.middle,
.top {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
}

img {
    width: 51vw;
    height: 40vw;
}

.top {
    width: 12.5vw;
}

.scroller {
    width: 4vw;
    height: 4vw;
    position: absolute;
    left: 10vw;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.9;
    transition: opacity 0.12s ease-in-out;
    pointer-events: auto;
    cursor: pointer;
    box-shadow: 0.35vw 0px 0.7vw rgba(100, 100, 100, 0.2);

}

.scroller-middle {
    margin-top: 2.5vw;
}

.scroller-top {
    margin-top: -2.5vw;
}


.scroller:hover {
    opacity: 1;
}

.scrolling {
    pointer-events: none;
    opacity: 1; // z-index: 1;
}

.scroller__thumb {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 0.7vw;

}

.scroller:before,
.scroller:after {
    content: " ";
    display: block;
    width: 0.7vw;
    height: 999.9vw;
    position: absolute;
    left: 50%;
    margin-left: -0.35vw;
    z-index: 30;
    transition: 0.1s;
    box-shadow: 0.35vw 0px 0.7vw rgba(100, 100, 100, 0.2);
}

.scroller:before {
    top: 4.9vw;
}

.scroller:after {
    bottom: 4.9vw;
}

/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */

.scroller-middle > .scroller__thumb {
    border: 0.5vw solid skyblue;
}

.scroller-middle:before,
.scroller-middle:after {
    background: skyblue;
}

.scroller-top > .scroller__thumb {
    border: 0.5vw solid skyblue;
}

.scroller-top:before,
.scroller-top:after {
    background: skyblue;
}

@media only screen and (max-width: 1440px) {
    section {
        max-width: 95%;
    }
}

@media only screen and (max-width: 980px) {
    header {
        padding: 20px 0px;
    }
    #logo {
        padding: 0px;
    }
    input[type=checkbox] {
        position: absolute;
        top: -9999px;
        left: -9999px;
        background: none;
    }
    input[type=checkbox]:fous {
        background: none;
    }
    label {
        float: right;
        padding: 8px 0px;
        display: inline-block;
        cursor: pointer;
    }
    input[type=checkbox]:checked ~ nav {
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        right: 0px;
        top: 53px;
        background-color: #002e5b;
        padding: 0px;
        z-index: 99;
    }
    nav ul {
        width: auto;
    }
    nav ul li {
        float: none;
        padding: 0px;
        width: 100%;
        display: table;
    }
    nav ul li a {
        color: #FFF;
        font-size: 15px;
        padding: 10px 20px;
        display: block;
        border-bottom: 1px solid rgba(225, 225, 225, 0.1);
    }
    nav ul li a i {
        color: #fde428;
        padding-right: 13px;
    }
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 20px;
    }
    label {
        padding: 5px 0px;
    }
    #logo {
        font-size: 20px;
    }
    nav {
        top: 47px;
    }
}

@media only screen and (max-height: 300px) {
    .wrapper {
        margin-top: 20vw;
    }
}

@media only screen and (max-height: 150px) {
    .wrapper {
        display: none;
    }
}
