/* overall css*/

* {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    outline: none;
}

body {

    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

/*css below are for about page*/

.about h1 {
    font-family: 'Merriweather', serif;
    margin-left: 12vw;
    margin-top: 15vw;
    font-size: 3vw;
    color: rosybrown;

}

.about header {
    width: 100%;
    display: table;
    margin-top: -10px;
    margin-bottom: 20px;
    background-color: black;
}

.about .text {
    color: black;
    font-size: 3vw;
}


hr {
    margin-left: 10vw;
    margin-right: 50vw;
    margin-top: 1vw;
}


.about .about_content {
    font-family: 'Roboto', sans-serif;
    font-size: 2.1vw;
    margin-left: 10vw;
    margin-right: 40vw;
    margin-top: 5vw;
    color: black;
}

.parallax2 {
    background-image: url("images/Evolution.png");
    overflow-x: hidden;
    height: 80vw;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url("images/Evolution.png");
    overflow-x: hidden;
    height: 80vw;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 h1 {
    margin-left: 57vw;
    margin-top: 20.2vw;
    position: relative;
    color: white;
}


.static2 {
    background-image: url(images/about.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0vw;
    overflow: hidden;
    height: 59vw;
    width: 100%;
}



/* css for about page titel */

@font-face {
    font-family: 'Sketch Block';
    src: url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.eot');
    src: url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.woff') format('woff'),
    url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.ttf') format('truetype'),
    url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.svg#SketchBlockBold') format('svg');
}

@font-face {
    font-family: 'Museo 700';
    src: url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.eot');
    src: url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.woff') format('woff'),
    url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.ttf') format('truetype'),
    url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.svg#SketchBlockBold') format('svg');
}

@font-face {
    font-family: 'CallunaRegular';
    src: url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.eot');
    src: url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.woff') format('woff'),
    url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.ttf') format('truetype'),
    url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.svg#CallunaRegular') format('svg');
}



.contact_title {
    width: 40vw;
    margin-left: 27vw;
    margin-top: 10vw;
    position: absolute;

}

.title_about {
    width: 40vw;
    font: 2.95vw CallunaRegular;
    letter-spacing: .19vw;
    float: left;
    padding: 4.5vw 0 3vw 2.5vw;
    margin: 0;
    border-top: 2px dotted #858585;
    border-bottom: 2px dotted #858585;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

.contact_title:before {
    content: "“";
    font-size: 9vw;
    position: absolute;
    left: -8vw;
    color: orangered;
}

.contact_title:after {
    content: "”";
    font-size: 9vw;
    position: absolute;
    right: -7vw;
    top: 20vw;
    color: orangered;
}

.title_about:first-line {
    font: 5.5vw "Sketch Block";
    color: white;
}

.title_about strong:first-child {
    margin-left: 8px;
    letter-spacing: 0;
}

.title_about strong:last-child {
    font: 2em "Museo 700";
    text-transform: uppercase;
    letter-spacing: 0;
}

.title_about em {
    border-bottom: 2px dotted #858585;
}

.title_about + b {
    float: right;
    margin-top: 10px;
    font: 1.6vw CallunaRegular;
    letter-spacing: .15em;
}

.title_about + b:first-letter {
    color: skyblue;
    font-size: 1.3em;
    font-style: italic;
    letter-spacing: .25em;
}

@-moz-document url-prefix() {

    blockquote:first-letter {
        margin-top: -29px;
    }

}

strong {
    color: white;
    text-shadow: 5px 2px 2px black;
}

/*css used to create everyday quote*/

.notepaper {
    position: relative;
    margin-left: 50vw;
    margin-top: 6vw;
    padding: 2.9vw 2vw 2vw 4.5vw;
    width: 37vw;
    height: 30vw;
    line-height: 5vw;
    color: #6a5f49;
    text-shadow: 0 1px 1px white;
    background-color: #f2f6c1;
    background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -webkit-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -moz-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -o-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    border: 1px solid #c3baaa;
    border-color: rgba(195, 186, 170, 0.9);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
}

.notepaper:before,
.notepaper:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
}

.notepaper:before {
    left: 28px;
    width: 2px;
    border: solid #efcfad;
    border-color: rgba(239, 207, 173, 0.9);
    border-width: 0 1px;
}

.notepaper:after {
    z-index: -1;
    left: 0;
    right: 0;
    background: rgba(242, 246, 193, 0.9);
    border: 1px solid rgba(170, 157, 134, 0.7);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}

.quote {
    font-family: Georgia, serif;
    font-size: 14px;
}

.curly-quotes:before,
.curly-quotes:after {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 48px;
    font-size: 50px;
    opacity: .2;
}

.curly-quotes:before {
    content: '\201C';
    margin-right: 4px;
    margin-left: -8px;
}

.curly-quotes:after {
    content: '\201D';
    margin-left: 4px;
    margin-right: -8px;
}

.quote-by {
    display: block;
    padding-right: 10px;
    text-align: right;
    font-size: 13px;
    font-style: italic;
    color: #84775c;
}

.lt-ie8 .notepaper {
    padding: 15px 25px;
}


/* css below are for portfolio page */

.parallax {
    background-image: url("images/Yellow.png");
    overflow-x: hidden;
    height: 80vw;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.static {
    height: 59vw;
    width: 100%;
    background-image: url(images/content.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0vw;
    overflow: hidden;
}

/* css used to create scroll down animation */

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 170%;
}

.chevron {
    position: absolute;
    width: 2vw;
    height: 0.5vw;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
    margin-left: -1vw;
    top: 45vw;
    padding: 0.1vw;
    margin-top: 4vw;
    color: black;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0vw;
    height: 100%;
    width: 51%;
    background: white;

}

.chevron:before {
    left: 0vw;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0vw;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text1 {
    display: block;
    margin-top: 10vw;
    margin-left: 8px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 1vw;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
    top: 47vw;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}



/*css below are for home page*/

/*background image for home page*/

.home {
    min-width: 100%;
    min-height: 100%;
    background-image: url("images/charlie.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0vw;
    overflow: hidden;
}

/*main title*/

span {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate3d(calc(-50% - 0.12vw), calc(-50% + 0.12vw), 0);
    mix-blend-mode: screen;
    font-family: 'Montserrat', sans-serif;
    font-size: 7vw;
    letter-spacing: 2vw;
    text-transform: uppercase;
    text-shadow: 0vw 0vw white, 0vw 0vw white, 0vw 0vw white, 0vw 0vw white, 0vw 0vw white, 0vw 0vw white, 0vw 0vw white, 0vw 0vw white, 0vw 0vw white, 0vw 0vw white, 0vw 0vw white;
    opacity: 0;
    animation: revolve 2s cubic-bezier(0.47, 0.01, 0, 1.01) forwards 0.5s;
}

@keyframes revolve {
    to {
        opacity: 1;
        transform: translate3d(-50%, -50%, 0);
        text-shadow: -0.08vw 0.04vw white, -0.12vw 0.08vw white, -0.16vw 0.12vw white, -0.2vw 0.16vw white, -0.24vw 0.2vw white, -0.28vw 0.24vw white, -0.32vw 0.28vw white, -0.36vw 0.32vw white, -0.4vw 0.36vw white, -0.44vw 0.4vw white, -0.48vw 0.44vw white;
    }
}

/*navigation bar*/

section {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    display: table;
    position: relative;
}


header {
    width: 100%;
    display: table;
    margin-top: -10px;
    margin-bottom: 20px;
}

#logo {
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    color: antiquewhite;
    font-weight: 600;
    padding: 25px 0px;
}

nav {
    width: auto;
    float: right;
}

nav ul {
    display: table;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li:last-child {
    padding-right: 0px;
}

nav ul li a {
    color: antiquewhite;
    font-size: 18px;
    padding: 25px 20px;
    display: inline-block;
    transition: all 0.5s ease 0s;
    margin-top: 0.5vw;
}

nav ul li a:hover {
    background-color: #002e5b;
    color: #fde428;
    transition: all 0.5s ease 0s;
}

nav ul li a:hover i {
    color: #fde428;
    transition: all 0.5s ease 0s;
}

nav ul li a i {
    padding-right: 10px;
    color: #002e5b;
    transition: all 0.5s ease 0s;
}

.toggle-menu ul {
    display: table;
    width: 25px;
}

.toggle-menu ul li {
    width: 100%;
    height: 3px;
    background-color: antiquewhite;
    margin-bottom: 4px;
}

.toggle-menu ul li:last-child {
    margin-bottom: 0px;
}

input[type=checkbox],
label {
    display: none;
}

/*css for 'next' button*/

@import url('https://fonts.googleapis.com/css?family=Muli');
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 0.5vw;
    font-family: 'Muli', Helvetica, sans-serif;
}

.container1 {
    position: absolute;
    width: 17rem;
    height: 10rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 22vw;
    margin-left: -1vw;
}

.about .container1 {
    position: relative;
    width: 17rem;
    height: 10rem;
    transform: translate(-50%, -50%);
    margin-top: -35vw;
    margin-left: -20vw;
}


.text {
    color: #fff;
    font-size: 6rem;
    font-weight: 900;
    display: inline-block;
    position: absolute;
    bottom: 0;
    animation: text 1050ms ease-in infinite;
    transform: translatez(0);
}

.text-h {
    left: 0rem;
    transform: translate3d(0, -4rem, 0);
    animation: text-w 1050ms ease-in infinite;
}

.text-e {
    left: 5.4rem;
    animation-delay: 150ms;
}

.text-l {
    left: 9.6rem;
    animation-delay: 230ms;
}

.text-l1 {
    left: 13rem;
    animation-delay: 310ms;
}

.coast {
    position: absolute;
    left: 1.3rem;
    bottom: 1.7rem;
    width: 6.2rem;
    height: 2.2rem;
    display: inline-block;
    animation: coast 2100ms linear infinite;
    transform: translateZ(0);
}

.wave-rel-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 3rem;
    perspective-origin: 0%, 50%;
}

.wave {
    position: absolute;
    width: 6.2rem;
    height: 2.2rem;
    border-radius: 1.1rem;
    background: radial-gradient(ellipse at center, rgba(116, 241, 252, 1) 0%, rgba(50, 230, 255, 1) 73%, rgba(21, 199, 250, 1) 100%);
    display: inline-block;
    animation: wave 2100ms linear infinite;
    will-change: width;
    transform: translateZ(0) scale(0);
}

.delay {
    animation-delay: 1050ms;
}

@keyframes text {
    0% {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(0, 0, 0);
    }
    45% {
        transform: translate3d(0, -4rem, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes text-w {
    0% {
        transform: translate3d(0, -4rem, 0);
    }
    38% {
        transform: translate3d(0, -4rem, 0);
    }
    69% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -4rem, 0);
    }
}

@keyframes coast {
    0% {
        transform: translate3d(0, 0, 0);
    }
    23% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(16rem, 0, 0);
    }
    100% {
        transform: translate3d(16rem, 0, 0);
    }
}

@keyframes wave {
    0% {
        transform: scale(0);
        width: 2.2rem;
    }
    10% {
        transform: scale(1);
    }
    23% {
        width: 2.2rem;
    }
    32% {
        width: 6.1rem;
    }
    42% {
        width: 5rem;
        transform: rotateY(0deg) scale(1, 1);
    }
    51% {
        transform: rotateY(90deg) scale(0.6, 0.2);
    }
    52% {
        transform: rotateY(90deg) scale(0);
    }
    100% {
        transform: rotateY(90deg) scale(0);
    }
}

/*css below are for chinese home page*/

.text-1 {
    left: 0rem;
    transform: translate3d(0, -4rem, 0);
    animation: text-w 1050ms ease-in infinite;
}

.text-2 {
    left: 5.7rem;
    animation-delay: 150ms;
}

.text-3 {
    left: 11.6rem;
    animation-delay: 230ms;
}

.text-4 {
    left: 17.2rem;
    animation-delay: 310ms;
}

/*background image for chinese home page*/

.home2 {
    min-width: 100%;
    min-height: 100%;
    background-image: url("images/charlie.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0vw;
    overflow: hidden;

}




.ai header {
    background-color: black;
}

.stock header {
    background-color: black;
}

.portfolio header {
    background-color: black;
}




/*responsive website css*/

@media only screen and (max-width: 450px) {
    span {
        font-size: 15vw;
    }
    .home2 span {
        font-size: 10vw;
    }
    html,
    body {
        font-size: 1.2vw;
        font-family: 'Muli', Helvetica, sans-serif;
    }
    .home2,
    body {
        font-size: 1vw;
    }
    .container1 {
        margin-top: 40vw;
    }
}

@media only screen and (max-width: 980px) {
    .content {
        width: 90%;
    }
}

@media only screen and (max-width: 568px) {
    h1 {
        padding: 25px 0px;
    }
    h1 span {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    section {
        max-width: 90%;
    }
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 20px;
    }
    label {
        padding: 5px 0px;
    }
    #logo {
        font-size: 20px;
    }
    nav {
        top: 47px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        padding: 20px 0px;
    }
}

@media only screen and (max-height: 200px) {
    span {
        display: none;
    }

}

@media only screen and (max-width: 1440px) {
    section {
        max-width: 95%;
    }
}

@media only screen and (max-width: 980px) {
    header {
        padding: 20px 0px;
    }
    #logo {
        padding: 0px;
    }
    input[type=checkbox] {
        position: absolute;
        top: -9999px;
        left: -9999px;
        background: none;
    }
    input[type=checkbox]:fous {
        background: none;
    }
    label {
        float: right;
        padding: 8px 0px;
        display: inline-block;
        cursor: pointer;
    }
    input[type=checkbox]:checked ~ nav {
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        right: 0px;
        top: 53px;
        background-color: #002e5b;
        padding: 0px;
        z-index: 99;
    }
    nav ul {
        width: auto;
    }
    nav ul li {
        float: none;
        padding: 0px;
        width: 100%;
        display: table;
    }
    nav ul li a {
        color: #FFF;
        font-size: 15px;
        padding: 10px 20px;
        display: block;
        border-bottom: 1px solid rgba(225, 225, 225, 0.1);
    }
    nav ul li a i {
        color: #fde428;
        padding-right: 13px;
    }
}
